
table{
    width: 80%;
    margin: 40px auto;
    background: rgb(124,154,167);
}
table.list{
    text-align: center;
    width: 100%;
}

td{
    border: 1px solid rgb(204,200,200);
    text-align: left;
    padding: 2px 15px;
}
tr:nth-child(even),table.list thead tr{
    background-color: rgb(204,200,200);
}
input[type="text"],input[type="number"]{
  width: 91px;
  padding:12px 2px;
  margin: 8px 0;
  display:inline-block;
  border:1px solid rgb(165,161,161);
  border: radius 4px;
}

input[type="submit"],input[type="reset"]{
   background:rgb(204,200,200);
    padding:6px 12px;
    margin: 15px 0 10px;
    display:inline-block;
    border:none;
    border: radius 30px;
    font: size 1rem;
    cursor:pointer;
    outline:none;
  }
  input[type="submit"]:hover{
    background: #4499;
  }
  input[type="reset"]:hover{
    background: #4499;
  }
  button{
    background:rgb(204,200,200);
    padding:6px 12px;
    margin: 15px 0 10px;
    display:inline-block;
    border:none;
    border: radius 30px;
    font: size 1rem;
    cursor:pointer;
    outline:none;
  }
  button:hover{
    background: #4499;
  }